@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    margin: 1em;
}

#screen {
    font-family: 'Anonymous Pro', monospace;
}

a:link, a:visited {
    color: #fff;
}

.heading {
    color: #f00;
    animation: headbow 5s linear infinite;
    text-transform: initial !important;
    font-weight: bold;
}

.underscore {
  animation: blinker 1s step-start infinite;
}

#command_output {
    color: #f00;
}

@keyframes blinker {  
    50% {
        opacity: 0;
    }
}

@keyframes headbow {
    0% {
        color: #f00;
    }

    33% {
        color: #0f0;
    }

    66% {
        color: #0bf;
    }
}
